<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Google Fots -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <!-- Remixicon Icon -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <!-- Remixicon Icon -->
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Main CSS -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="static/assets/css/main.css" rel="stylesheet">
    <title>Joana Mertz — Product UX/UI Designer</title>
  </head>
  <body>
    
    <!-- main -->
    <main class="pge-wrap">
      <div class="container">
          <div class="row justify-content-center">
            <div class="col-12 col-sm-12  col-md-12  col-lg-10  col-xl-10  col-xxl-10">
                <!-- header -->
                <header class="ds-header">
                    <a class="ds-logo" href="index.html">jm</a>
                </header>
                <!-- header -->
                <!-- banner -->
                <section class="ds-banner-section">
                    <h1>Joana Mertz — Product UX/UI Designer</h1>
                    <h2>I design beautiful <br>crafts for clients</h2>
                    <figure><img src="static/assets/images/banner-image.jpg" alt="" width="1940" height="1000"></figure>
                    <p>I’m a Product Designer from Sydney, Australia. I specialise in UX/UI design, brand strategy and Webflow development.</p>
                    <a href="#" class="ds-button">DOWNLOAD RESUME</a>
                </section>
                <!-- banner -->
                <!-- Case Studies -->
                <div class="ds-case-studies">
                    <h2><span>Case Studies</span></h2>
                    <section class="ds-case-studies-list" data-aos="fade-up" data-aos-duration="3000">
                        <figure><img src="static/assets/images/case-studies-1.jpg" alt="" width="1940" height="1000"></figure>
                        <div class="row">
                          <div class="col-12 col-sm-12  col-md-12  col-lg-4  col-xl-4  col-xxl-4">
                              <h3 class="ds-hedding">Pineapple</h3>
                              <span class="ds-tools">Branding, Identity, Web Design, UX / UI</span>
                          </div>
                          <div class="col-12 col-sm-12  col-md-12  col-lg-8  col-xl-8  col-xxl-8">
                            <p>Phasellus non faucibus purus, a venenatis diam. In faucibus orci mauris, porttitor egestas diam elementum non. Vestibulum non metus tempus, sagittis libero sed, euismod purus. Cras dolor nulla, hendrerit vitae libero eu, finibus ultricies dolor. </p>
                            <a class="ds-view-button ds-button-arrow" href="case-study-detail.html">View case study <span class="ds-arrow"></span></a>
                          </div>
                        </div>
                    </section>
                    <section class="ds-case-studies-list" data-aos="fade-up" data-aos-duration="4000">
                        <figure><img src="static/assets/images/case-studies-2.jpg" alt="" width="1940" height="1000"></figure>
                        <div class="row">
                          <div class="col-12 col-sm-12  col-md-12  col-lg-4  col-xl-4  col-xxl-4">
                              <h3 class="ds-hedding">Orange</h3>
                              <span class="ds-tools">Branding, Web Design, UX / UI</span>
                          </div>
                          <div class="col-12 col-sm-12  col-md-12  col-lg-8  col-xl-8  col-xxl-8">
                            <p>Phasellus non faucibus purus, a venenatis diam. In faucibus orci mauris, porttitor egestas diam elementum non. Vestibulum non metus tempus, sagittis libero sed, euismod purus. Cras dolor nulla, hendrerit vitae libero eu, finibus ultricies dolor. </p>
                            <a class="ds-view-button ds-button-arrow" href="case-study-detail.html">View case study <span class="ds-arrow"></span></a>
                          </div>
                        </div>
                    </section>
                    <section class="ds-case-studies-list" data-aos="fade-up" data-aos-duration="5000">
                        <figure><img src="static/assets/images/case-studies-3.jpg" alt="" width="1940" height="1000"></figure>
                        <div class="row">
                          <div class="col-12 col-sm-12  col-md-12  col-lg-4  col-xl-4  col-xxl-4">
                              <h3 class="ds-hedding">Cherry</h3>
                              <span class="ds-tools">Branding, Identity</span>
                          </div>
                          <div class="col-12 col-sm-12  col-md-12  col-lg-8  col-xl-8  col-xxl-8">
                            <p>Phasellus non faucibus purus, a venenatis diam. In faucibus orci mauris, porttitor egestas diam elementum non. Vestibulum non metus tempus, sagittis libero sed, euismod purus. Cras dolor nulla, hendrerit vitae libero eu, finibus ultricies dolor. </p>
                            <a class="ds-view-button ds-button-arrow" href="case-study-detail.html">View case study <span class="ds-arrow"></span></a>
                          </div>
                        </div>
                    </section>
                </div>
                <!-- Case Studies -->
            </div>
          </div>
      </div>
    </main>
    <!-- main -->
    <!-- footer -->
    <footer class="ds-footer">
      <div class="container">
          <div class="row justify-content-center">
            <div class="col-12 col-sm-12  col-md-12  col-lg-10  col-xl-10  col-xxl-10">
                <section class="ds-lets_section">
                  <h4>Let’s Talk.</h4>
                  <span>Have a project or question? Send me a message.</span>
                </section>
                <div class="ds-email_social">
                    <a href="mailto:hey@mertz.com" class="ds-email">hey@mertz.com</a>
                    <ul class="ds-social">
                        <li><a href="#" target="_blanck"><i class="ri-dribbble-line"></i></a></li>
                        <li><a href="#" target="_blanck"><i class="ri-instagram-line"></i></a></li>
                        <li><a href="#" target="_blanck"><i class="ri-twitter-line"></i></a></li>
                    </ul>
                </div>
                <span class="ds-copyright">© 2021 All right reserved.<br><a href="https://www.designstub.com/" target="_blanck">Free minimal bootstrap template by Designstub.</span>
            </div>
          </div>
      </div>
    </footer>
    <!-- footer -->



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="static/assets/js/mainn.js"></script>
  </body>
</html>